/*====================== STUFF THAT WORKS ACROSS ALL PAGES ====================*/  
        
        /*================= HTML ===============*/
            html {
                background: rgb(81,43,126);
                background: linear-gradient(90deg, #a5f0ad 0%, #a4cff5 45%, #c7aee8 90%);
                font-family: 'Outfit', sans-serif;
                color: #222;
            }

        /*============ HOME PAGE HEADER ============*/
        .header {
            text-align: center;
            font-size: 25px;
        }
            

        /*================ NO STYLE ===================*/

            a.nostyle:link {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }

            a.nostyle:visited {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }

            .menu_img {
                margin: 12px;
            }

        /*============== NAV BAR BUTTON STYLING ===============*/
            .menu_item {
                padding: 10px;
                margin: 20px;
                display: block;
                width: 100px;
                height: 20px;
                font-size: 16px;
                text-decoration: none;
                color: #222;
                border: 2px solid #e3b5e8;
                border-radius: 8px;
                letter-spacing: 2px;
                text-align: center;
                position: relative;
                /*transition: all 0.2s ease-in-out;*/
}

            .menu_item:hover {
                cursor: pointer;
                background-color: #e3b5e8;
                box-shadow: 0 2px 10px #e3b5e8;
                border-color: #FFF;
                color: #FFF;
            }

            .nav-options {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
            }
/*==================================== LOG IN PAGE CSS =====================================*/
        
    /*=============== LOG IN BOX ================*/
        .formPlus {
            margin: auto;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid white;
            width: fit-content;
            text-align: center;
            align-content: center;
        }   

        .login-btns {
            padding: 6px;
            border: 2px solid #FFF;
            margin: auto;
            border-radius: 8px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            background-color: transparent;
            text-align: center;
            /*transition: all 0.2s;*/
        }

        .login-btns:hover {
            color: #FFF;
            background-color: #aedb81;
            box-shadow: 0 2px 10px #aedb81;
            cursor: pointer;
        }

/*================================ CREATE ACCOUNT PAGE CSS =============================*/

        .create-form {
            margin: auto;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid white;
            width: 500px;
            text-align: center;
            align-content: center;
        }

        .pfp {
            margin: 2px;
            padding: 2px;
        }

/*====================================== HOME PAGE CSS =====================================*/

    /*============ INSTRUCTIONS ON THE HOME PAGE ==============*/
        .instructions {
            text-align: center;
            border: 3px solid #FFF;
            border-radius: 8px;
            padding: 5px;
            width: 40%;
            margin: auto;
            margin-top: 15px;
            font-size: 18px;
        }

/*================================= PLAY PAGE CSS ========================================*/

        .play-content {
            text-align: center;
            border: 3px solid #FFF;
            border-radius: 8px;
            padding: 5px;
            width: 30%;
            margin: auto;
            margin-top: 15px;
            font-size: 18px;
        }

        .play-madlib {
            display: inline-block;
            padding: 10px;
            border: 2px solid #c7aee8;
            margin: 0 0.3em 0.3em 0;
            border-radius: 8px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            background-color: transparent;
            text-align: center;
            /*transition: all 0.2s;*/
        }

        .play-madlib:hover {
            color: #FFF;
            background-color: #c7aee8;
            box-shadow: 0 2px 10px #c7aee8;
            border-color: #FFF;
            cursor: pointer;
        }
/*================================= VIEW PAGE CSS ========================================*/
    
.finished-lib {
        text-align: center;
        border: 3px solid #FFF;
        border-radius: 10px;
        padding: 8px;
        width: 60%;
        margin: auto;
        margin-top: 15px;
        font-size: 25px;
        background-color: #CCF;
    }

    .finished-details {
        text-align: center;
        border: 3px solid #FFF;
        border-radius: 8px;
        padding: 5px;
        width: 35%;
        margin: auto;
        margin-top: 15px;
        font-size: 15px;
        height: 200px;
    }

    .report-button {
        padding: 10px;
        margin:0 auto;
        display: block;
        width: 100px;
        height: 20px;
        font-size: 18px;
        text-decoration: none;
        color: #433;
        background-color: transparent;
        border: 4px solid #caa;
        border-radius: 8px;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        
        /*transition: all 0.2s ease-in-out;*/
}

    .report-button:hover {
        cursor: pointer;
        background-color: #000;
        box-shadow: 0 2px 10px #e3b5e8;
        border-color: #800;
        color: #F00;
    }

    #center1 {
        margin:0 auto;
    }
    
    #center2 {
        margin:0 auto;
    }

/*================================= CREATE PAGE CSS ======================================*/
        .create-lib-box {
            border: 2px solid #333;
            font-size: 60px;
            font-weight: bolder;
        }

        .create-lib-button {
            display: inline-block;
            padding: 10px;
            border: 2px solid #ffe77a;
            margin: 0 0.3em 0.3em 0;
            border-radius: 8px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            background-color: transparent;
            text-align: center;
            /*transition: all 0.2s;*/
        }
        
        .create-lib-button:hover {
            color: #000;
            background-color: #ffe77a;
            box-shadow: 0 2px 10px #ffe77a;
            border-color: #FFF;
            cursor: pointer;
        }

        .text-box-create textarea {
            text-align: left;
            padding: 5px;
            width: 70%;
            margin: auto;
            margin-top: 15px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Outfit', sans-serif;
        }

        .title {
            font-family: 'Outfit', sans-serif;
            font-weight: bold;
            font-size: 16px;
        }
/*================================= PROFILE PAGE CSS ======================================*/
        .content {
            text-align: center;
            border: 3px solid #FFF;
            border-radius: 8px;
            padding: 5px;
            width: 70%;
            margin: auto;
            margin-top: 15px;
            font-size: 18px;
        }

        .liked-libs {
            position: relative;
            height: 200px;
            overflow: auto;
            display: block;
        }

        .profile-table {
            border-spacing: 1; 
            border-color: #FFF;
            border-collapse: collapse;
            border-radius:6px;
            overflow:hidden;
            max-width:800px; 
            width:100%;
            margin:0 auto;
            position:relative;
        }

        .profile-button {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 2px solid #e3b5e8;
            margin: auto;
            border-radius: 8px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            background-color: transparent;
            text-align: center;
            transition: all 0.2s;
        }

        .profile-button:hover {
            color: #FFF;
            background-color: #e3b5e8;
            box-shadow: 0 2px 10px #e3b5e8;
            border-color: #FFF;
            cursor: pointer;
        }

        .edit-profile-button {
            text-align: center;
        }

        #profile-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }

        #profile-image {
            border-width: 3px;
            border-color: white;
            border-radius: 150px;
            width: 150px;
            height: 150px;
        }
        /*============================= PROFILE TABLE CSS ===========================*/

        th {
            padding: 20px 15px;
            text-transform: uppercase;
        }

        td {
            padding: 15px;
        }