extends layout 

block content 
    div(class='header')
        h3 Mad-Libs Online
    div(id="create-form" class="create-form")
        form(action='/join' method='post' id="newUser")
            p Username:
                br
                input(type="text" name='username')
            p Password:
                br
                input(type="password" name='password')
            p Confirm Password:
                br
                input(type="password" name='confPass')
            p Bio 
                br
                textarea(rows='5' cols='24' form="newUser" maxLength="300" name="bio")
            label(for='pfp') Profile Picture Selection
                select(name='pfp' class='pfp')
                    option Yellow Smile
                    option Green Tophat
                    option Blue Curly
                    option Pink Cap
                    option Pink Smile
                    option Purple Curly
                    option Yellow Curly
                br
                br

            input(class='login-btns' type="submit" value='Create Account')
