extends layout 

block navHeader 
    include includes/navHeader.pug

block content 
    div(class='header')
        h3 Mad-Libs Online
    div(id="create-form" class="create-form")
        form(action='/update' method='post' id="editUser")
            p Username:
                br
                input(type="text" name='username' value=User.UserName)
            p New Password:
                br
                input(type="password" name='password') 
            p Confirm Password:
                br
                input(type="password" name='confPass')
            p Bio 
                br
                textarea(rows='5' cols='24' form="editUser" maxLength="300" name="bio" value=User.Description) #{User.Description}
            label(for='pfp') Profile Picture Selection
                select(name='pfp' class='pfp')
                    option(selected=User.pfp) Current PFP
                    option(value = "1") Yellow Smile
                    option(value = "2") Green Tophat
                    option(value = "3") Blue Curly
                    option(value = "4") Pink Cap
                    option(value = "5") Pink Smile
                    option(value = "6") Purple Curly
                    option(value = "7") Yellow Curly
                br
                br

            input(class='login-btns' type="submit" value='Update Account')
