extends layout 

block content
    div(class='instructions')
        h2=details.title 
        h4="By " + details.creator
    div(class="instructions")
        each item in blanks 
            p=item.type