extends layout 

block navHeader
    include includes/navHeader.pug

block content 
    div(class='header')
        h3="Welcome to the Mad-lib home page!"
    div(class='instructions')
        p If you want to play a Mad-lib, click on the "Play" button on the top of the screen. You'll be given a random Mad-lib to fill out.
        p If you want to create a Mad-lib, click on the "Create" button. You'll be brought to the create page where you'll be given further instruction to make your very own Mad-lib.
        p To view your liked and created Mad-libs, click on the "Profile" button.