doctype 
html 
    head 
        title=title
        link(href='/style.css' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Shippori+Antique+B1&display=swap" rel="stylesheet")
    body 
        block navHeader 
        section 
            block content 
            