extends layout 

block content 
    div(class='header')
        h3 Mad-Libs Online
    div(id="login-form" class="formPlus")
        form(action='/' method='post')
            p Username:
                br
                input(type="text" name='username')
            p Password:
                br
                input(type="password" name='password')
            p 
                input(class='login-btns' type="submit" value='Login')
        div 
            h4="or"
        form(action="/join") 
            input(class='login-btns' type="submit" value="Create New Account")