extends layout 

block content 
    h3(class='header')="Uh-Oh, Something Went Wrong..."
        div(class='instructions')
            p Hey, Looks like you got a little lost in the sauce...
            p You should probably just turn back now, you won't find anything here.