extends layout 

block navHeader 
    include includes/navHeader.pug 
    h3(class='header')=""   
        form(action="/play", method="post" id="create-lib") 
            div(class='instructions')
                p INSTRUCTIONS 
                p Fill each blank with the appropriate wording and then submit your Lib
            
            div(class='text-box-play')
            
                p this is content
                textarea(rows='1' cols='1' class='create-lib-box' form="create-lib" name='content' maxLength="16", placeholder = "noun")
                p more content
            
            div
                input(class='Played with Lib' id='played-lib' type='submit' value='Submit Your Lib!')