extends layout 

block navHeader 
    include includes/navHeader.pug 

block content 
    div(class='play-content')
        h3='Give me a mad-lib!!!11!'
        input(class='play-madlib' type='submit' value='Play Madlib' onAction='/playLib')