extends layout 

block navHeader 
    include includes/navHeader.pug

block content
    div(class='header')
        h3="Star Wars Character of the Day"
    div(class='finished-lib')
        p(id="starName")
        p(id="proof")="false"
    script(src='populate.js')
